@{
    ViewBag.Title = "Ciclos";
}
<!--Modal  registro de usuario-->
<div id="modal_aside_right" class="modal fixed-right fade fuente " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside " role="document">
        <div class="modal-content">
            <div class="modal-body mt-4 ">
                <div class="col-md-12 mx-auto">

                    <div class="card">
                        <div class="card-header p-1">
                            <h5>Planificacion de Gestion de Cobranza de los servicios</h5>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Año:</label>
                                    <div class="input-group input-append date" id='clsFechAnnio'>
                                        <input id="txtAnnio" type="text" class="form-control input-sm" />
                                        <input hidden id="txtCiclosId" type="number" class="form-control input-sm " />

                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Mes:</label>
                                    <div class="input-group input-append date" id='clsFechaMes'>
                                        <input id="txtMes" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Lectura Inicial:</label>
                                    <div class="input-group input-append date" id='clsFechaLecturaInicial'>
                                        <input id="txtLecturaInicial" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Lectura Final:</label>
                                    <div class="input-group input-append date" id='clsFechaLecturaFinal'>
                                        <input id="txtLecturaFinal" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Emision Inicial:</label>
                                    <div class="input-group input-append date" id='clsFechaEmisionInicial'>
                                        <input id="txtEmisionInicial" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Emision Final:</label>
                                    <div class="input-group input-append date" id='clsFechaEmisionFinal'>
                                        <input id="txtEmisionFinal" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Distribucion Inicial:</label>
                                    <div class="input-group input-append date" id='clsFechaDistribucionInicial'>
                                        <input id="txtDistribucionInicial" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>


                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Distribucion Final:</label>
                                    <div class="input-group input-append date" id='clsFechaDistribucionFinal'>
                                        <input id="txtDistribucionFinal" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Corte Inicial:</label>
                                    <div class="input-group input-append date" id='clsFechaCorteInicial'>
                                        <input id="txtCorteInicial" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-sm-3 mb-3">
                                    <label class="control-label ">Corte Final:</label>
                                    <div class="input-group input-append date" id='clsFechaCorteFinal'>
                                        <input id="txtCorteFinal" type="text" class="form-control input-sm" />
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"></path>
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                                            </svg>
                                        </span>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <br />


                </div>

            </div>
            <div class="modal-footer p-1">
                <label id="MSGvalidacion" class=" text-danger" style="display:none">Debe LLenar todos los campos</label>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cerrar</button>
                <button style="display:none;" class="btn btn-success btn-sm" id="btnSave" data-dismiss="modal" type="submit"><i class="fas fa-save"></i> Guardar</button>
                <button style="display:none;" class="btn btn-warning btn-sm" id="btnUpdate" data-dismiss="modal" type="submit"><i class="fas fa-save"></i> Actualizar</button>
            </div>
        </div>
    </div>
</div>
<!-- modal registrar cliente.// -->

<div class="card border-0 ml-4 mt-4 margin-l mb-3 ">
    <div class="card-body fuente">
        <div class=" card-header bg-dark text-white">
            <h5><i class="fas fa-table"> Clientes</i></h5>
        </div>

        <hr style="border-style: dashed;" />
        <div class="row">
            <div class="col-6">
                <div class="d-flex justify-content-start mb-2">
                    <button id="openModal" type="button" data-toggle="modal" data-target="#modal_aside_right" class="btn btn-info btn-sm" onclick="Edit(0)"><i class="fas fa-plus"></i> Registrar</button>


                </div>
            </div>
            <div class="col-6" hidden>
                <div class="d-flex justify-content-end mb-2">
                    <div class="searchbar">
                        <input class="search_input" type="text" id="txtFilter" name="" placeholder="Buscar...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-sm table-striped table-responsive-sm" id="allGrilla">
            <thead>
                <tr class="bg-info text-light">
                    <th scope="col">Año</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Lec. Inicial</th>
                    <th scope="col">Lec. Final</th>
                    <th scope="col">Emision Inicial</th>
                    <th scope="col">Emision Final</th>
                    <th scope="col">Dist. Inicial</th>
                    <th scope="col">Dist. Final</th>
                    <th scope="col">Corte Inicial</th>
                    <th scope="col">Corte Final</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
        </table>

    </div>
</div>


<script>

    $(document).ready(function () {



        $('#clsFechAnnio').datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years"
        });
        $('#clsFechaMes').datepicker({
            format: "mm",
            viewMode: "months",
            minViewMode: "months"
        });

        $('#clsFechaAnnio').datepicker({
            format: " yyyy",
            viewMode: "years",
            minViewMode: "years"
        });
        $('#clsFechaMes').datepicker({
            format: " mm",
            viewMode: "months",
            minViewMode: "months"
        });
        $('#clsFechaLecturaInicial').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });
        $('#clsFechaLecturaFinal').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });

        $('#clsFechaEmisionInicial').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });
        $('#clsFechaEmisionFinal').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });
        $('#clsFechaDistribucionInicial').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });
        $('#clsFechaDistribucionFinal').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });
        $('#clsFechaCorteInicial').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });
        $('#clsFechaCorteFinal').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
        });


        $("#openModal").on('click', function () {

            $("#MSGvalidacion").hide();
            $("#btnSave").show();
            $("#btnUpdate").hide();
            Clean();
        })


        $("#btnSave").click(Save);
        $("#btnUpdate").click(Update);

        tabla = $('#allGrilla').DataTable({
            "dom": 'Bfrtip',
            "lengthMenu": [[10, 30, 50, -1], [10, 30, 50, "All"]],
            "searching": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "drawCallback": function () {
                $('.page-link').addClass('btn-sm  border-0')
            },

            "serverSide": true,
            "processing": true,
            "orderable": false,
            "ajax": {
                "url": '@Url.Content("~/Ciclos/ListarCiclos")',
                "type": 'POST',
                "data": function (d) {
                    return $.extend({}, d, {
                        //NombreUrbanizacion: $("#txtFilter").val() == "" ? null : $("#txtFilter").val(),
                    });
                },
                "dataSrc": "data",
                "responsivePriority": 1,
            },

            "columns": [
                { "data":"Annio" },
                { "data":"Mes" },
                { "data":"LecturaInicialStr" },
                { "data":"LecturaFinalStr" },
                { "data":"EmisionInicialStr" },
                { "data":"EmisionFinalStr" },
                { "data":"DistribucionInicialStr" },
                { "data":"DistribucionFinalStr" },
                { "data":"CorteInicialStr" },
                { "data":"CorteFinalStr" },
                {
                    "data": "id",  "render": function(data, type, row, meta) {
                        return "<i class='text-warning far fa-edit mr-3' onClick='Edit(" + JSON.stringify(row) + ")'></i> </a>" +
                            "<i class='text-danger fas fa-trash-alt mr-3' onClick='Delete(" + JSON.stringify(row) + ")'></i>"
                            //"<i class='text-warning fas fa-lightbulb ' onClick='StatusUpdate(" + JSON.stringify(row) + ")'></i>"
                    }
                },
            ]
        });

        tabla.draw();

        $("#txtFilter").bind("keyup change", function () {
            tabla.draw();
        })

    });


    function Save() {

        if ($('#txtAnnio').val() == "" || $('#txtMes').val() == "" || $('#txtLecturaInicial').val() == "" ||
            $('#txtLecturaFinal').val() == ""|| $('#txtEmisionInicial').val() == "" || $('#txtEmisionFinal').val() == "" ||
            $('#txtDistribucionInicial').val() == "" || $('#txtDistribucionFinal').val() == "" || $('#txtCorteInicial').val() == "" ||
            $('#txtCorteFinal').val() == "") {
            $("#MSGvalidacion").show();

            return false;
        }

        var objCiclos = {};

        objCiclos.Annio = $("#txtAnnio").val();
        objCiclos.Mes = $("#txtMes").val();
        objCiclos.LecturaInicial = $("#txtLecturaInicial").val();
        objCiclos.LecturaFinal = $("#txtLecturaFinal").val();
        objCiclos.EmisionInicial = $("#txtEmisionInicial").val();
        objCiclos.EmisionFinal = $("#txtEmisionFinal").val();
        objCiclos.DistribucionInicial = $("#txtDistribucionInicial").val();
        objCiclos.DistribucionFinal = $("#txtDistribucionFinal").val();
        objCiclos.CorteInicial = $("#txtCorteInicial").val();
        objCiclos.CorteFinal = $("#txtCorteFinal").val();
        console.log(objCiclos);

        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Tu trabajo ha sido guardado',
            showConfirmButton: false,
            timer: 1500
        })

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Content("~/Ciclos/RegistrarCiclos")',
            dataType: "json",
            data: JSON.stringify({
                objCiclos: objCiclos
            }),
            success: function (resp) {
                tabla.draw();
            }
        });
        Clean();

    }

    function Edit(dCiclos) {

        $("#MSGvalidacion").hide();
        $("#btnSave").hide();
        $("#btnUpdate").show();
        $("#modal_aside_right").modal('show');


        $('#txtCiclosId').val(dCiclos.CiclosId);
        $('#txtAnnio').val(dCiclos.Annio);
        $('#txtMes').val(dCiclos.Mes);
        $('#txtLecturaInicial').val(dCiclos.LecturaInicialStr);
        $('#txtLecturaFinal').val(dCiclos.LecturaFinalStr);
        $('#txtEmisionInicial').val(dCiclos.EmisionInicialStr);
        $('#txtEmisionFinal').val(dCiclos.EmisionFinalStr);
        $('#txtDistribucionInicial').val(dCiclos.DistribucionInicialStr);
        $('#txtDistribucionFinal').val(dCiclos.DistribucionFinalStr);
        $('#txtCorteInicial').val(dCiclos.CorteInicialStr);
        $('#txtCorteFinal').val(dCiclos.CorteFinalStr);
        console.log(dCiclos.LecturaInicialStr)
    }

    function Update() {

        var objCliente = {};

        var objCiclos = {};

        objCiclos.CiclosId = $("#txtCiclosId").val();
        objCiclos.Annio = $("#txtAnnio").val();
        objCiclos.Mes = $("#txtMes").val();
        objCiclos.LecturaInicial = $("#txtLecturaInicial").val();
        objCiclos.LecturaFinal = $("#txtLecturaFinal").val();
        objCiclos.EmisionInicial = $("#txtEmisionInicial").val();
        objCiclos.EmisionFinal = $("#txtEmisionFinal").val();
        objCiclos.DistribucionInicial = $("#txtDistribucionInicial").val();
        objCiclos.DistribucionFinal = $("#txtDistribucionFinal").val();
        objCiclos.CorteInicial = $("#txtCorteInicial").val();
        objCiclos.CorteFinal = $("#txtCorteFinal").val();
        console.log(objCiclos);

        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Tu trabajo ha sido Actualizado',
            showConfirmButton: false,
            timer: 1500
        })
        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Content("~/Ciclos/Update")',
            dataType: "json",
            data: JSON.stringify({
                objCiclos: objCiclos
            }),
            success: function (resp) {
                tabla.draw();
            }
        });
        Clean();
    }

    @*function Delete(dCiclos) {
        Swal.fire({

            title: '¿ Estas seguro?',
            text: '¡ Se eliminará este registro!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {

          var data = { CiclosId: dCiclos.CiclosId };
           $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Content("~/Ciclos/Delete")',
            dataType: "json",
            data: JSON.stringify(data),
            success: function () {
                tabla.draw();
                console.log("eliminado");
            }
           });
                Swal.fire(
                    'Eliminado!',
                    'Ciclo Eliminado',
                    'success'

                )
            }
        })

    }*@

  const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: 'btn btn-success',
    cancelButton: 'btn btn-danger'
  },
  buttonsStyling: false
    })
    function Delete(dCiclos) {
        swalWithBootstrapButtons.fire({
            title: 'Estas Seguro?',
            text: "No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si, Eliminar!',
            cancelButtonText: 'No, Cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
             var data = { CiclosId: dCiclos.CiclosId };
           $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Content("~/Ciclos/Delete")',
            dataType: "json",
            data: JSON.stringify(data),
            success: function () {
                tabla.draw();
                console.log("eliminado");
            }
           });
                swalWithBootstrapButtons.fire(
                    'Eliminado!',
                    'Ciclo a sido eliminado.',
                    'success'
                )
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelado',
                    'Tu archivo imaginario está seguro : )',
                    'error'
                )
            }
        })
    }

    function Clean() {
        $('#txtCiclosId').val("");
        $('#txtAnnio').val("");
        $('#txtMes').val("");
        $('#txtLecturaInicial').val("");
        $('#txtLecturaFinal').val("");
        $('#txtEmisionInicial').val("");
        $('#txtEmisionFinal').val("");
        $('#txtDistribucionInicial').val("");
        $('#txtDistribucionFinal').val("");
        $('#txtCorteInicial').val("");
        $('#txtCorteFinal').val("");
    }

</script>